{% extends 'www/m_admin.html' %}
{% import 'www/r_select.html' as select %}
{% block head %} 
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='editor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='editor/ueditor.all.min.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='editor/lang/zh-cn/zh-cn.js') }}"></script>
{% endblock %}
{% block adtitle %}添加文章{% endblock %}
{% block adbody %}
<div class="container-fluid">
	<form class="row" action="{{ url_for('post') }}" method="post">
		<div class="form-left col-md-9">
		  <div class="form-group">
		    <label>文章标题</label>
		    <input type="text" name="title" value="文章标题" class="form-control" placeholder="标题">
		  </div>
		  <div class="form-group">
		    <label>副标题</label>
		    <input type="text" name="subtitle" value="副标题"  class="form-control" placeholder="副标题">
		  </div>
		  <div class="form-group">
		  	<label>内容简介</label>
		  	<textarea class="form-control"  name="brief" rows="3" placeholder="内容简介">内容简介</textarea>
		  </div>
		  <div class="form-group">
		  	<label>编辑主题</label>
		  	<script id="editor" name="content" type="text/plain">编辑主题</script>
		  </div>
		</div>
		<div class="form-right col-md-3">
		  <div class="form-group">
		    <label>关键字</label>
		    <input type="text" name="key" value="关键字" class="form-control" placeholder="关键字">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">选择分类</label>
		    <select name="category_id" class="form-control">
		    	{{ select.render_select(classfiy) }}
			</select>
		  </div>
		  <div class="form-group">
		  	<label>发表时间</label>
		  	 <input type="text" name="date" id="date" class="form-control" placeholder="关键字">
		  </div>
		  <div class="form-group">
		  	<button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
		  </div>
		</div>  
	</form>
</div>
</div>
<script type="text/javascript">
    var ue = UE.getEditor('editor', {
        serverUrl: '/upload/'
    });
    Date.prototype.Format = function(fmt)     
		{  
		    var o = {     
		        "M+" : this.getMonth()+1,                 //月份     
		        "d+" : this.getDate(),                    //日     
		        "h+" : this.getHours(),                   //小时     
		        "m+" : this.getMinutes(),                 //分     
		        "s+" : this.getSeconds(),                 //秒     
		        "q+" : Math.floor((this.getMonth()+3)/3), //季度     
		        "S"  : this.getMilliseconds()             //毫秒     
		    };     
		    if(/(y+)/.test(fmt)){  
		        fmt = fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));  
		    }  
		    for(var k in o){  
		        if(new RegExp("("+ k +")").test(fmt)){  
		            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));  
		        }  
		    }  
		    return fmt;     
		}  
		var time1 = new Date().Format("yyyy-MM-dd hh:mm:ss");  
		$("#date").val(time1)
</script>
{% endblock %}