{% extends 'www/admin.html' %}
{% import 'www/page.html' as page %}
{% block adtitle %}全部主题{% endblock %}
{% block adbody %}
		<table class="table table-hover">
	      <thead>
	        <tr>
	          <th>序号</th>
	          <th>文章标题</th>
	          <th>类别</th>
	          <th>创建日期</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>

	      	{% for v in listdata.items %}
	        <tr>
	          <th scope="row"><input type="checkbox" class="b_list">{{v.id}}</th>
	          <td>{{v.title}}</td>
	          <td>{{v.category.list_title}}</td>
	          <td>{{v.date}}</td>
	          <td><a href="{{ url_for('amend',a_id=v.id) }}" class="btn btn-primary btn-sm">修改</a>&nbsp;<a href="{{ url_for('delete',l_id=v.category.key_str,d_id=v.id,b_id=listdata.page) }}" class="btn btn-danger btn-sm">删除</a></td>
	        </tr>
	        {% endfor %}

	      </tbody>
	    </table>
	    {{ page.render_pagination(listdata,'admin',lid) }}
	</div>
{% endblock %}
