{% extends 'www/layout.html' %}
{% block head %} {% endblock %}
{% import 'www/r_list.html' as list %}
{% block body %}
	<div class="box">
		<div class="container-fluid">
			<div class="list-group col-lg-2 col-md-2" >
			{{ list.render_list(classfiy,lid) }}
			</div>
			<div class="table-list col-lg-10 col-md-10">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="collapse navbar-collapse">
				      <ul class="nav navbar-nav">
				        <li><a class="list-head" href="javascript:;">{% block adtitle %}{% endblock %}</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#">全选</a></li>
				       	<li><a href="{{ url_for('add_item') }}" class="btn btn-default">添加</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
			{% block adbody %} {% endblock %}
		</div>
	</div>
</div>
{% endblock %}